body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#0f0f0f;
  color:#fff;
}

header{
  background:#000;
  padding:20px;
  text-align:center;
}

.section{
  padding:30px 20px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:15px;
}

.card{
  background:#1b1b1b;
  padding:10px;
  border-radius:10px;
  text-align:center;
}

.card img{
  width:100%;
  border-radius:8px;
}

button{
  background:#ff2d55;
  border:none;
  padding:10px 15px;
  border-radius:8px;
  color:white;
  cursor:pointer;
}

input{
  width:100%;
  padding:10px;
  border-radius:8px;
  border:none;
  margin-bottom:10px;
}

footer{
  background:#000;
  padding:20px;
  text-align:center;
}
