body{
 margin:0;
 font-family:Montserrat,Arial;
 background:#0f0f0f;
 color:#fff
}
header{
 padding:50px 20px;
 text-align:center
}
header h1{
 font-size:42px;
 letter-spacing:2px
}
header p{
 opacity:.8
}

.btn{
 background:#fff;
 color:#000;
 padding:12px 18px;
 border:none;
 font-weight:bold;
 cursor:pointer
}

.cart{
 position:fixed;
 top:20px;
 right:20px;
 background:#fff;
 color:#000;
 padding:10px 15px;
 border-radius:30px;
 font-weight:bold
}

.grid{
 display:grid;
 grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
 gap:20px;
 padding:30px
}

.card{
 background:#181818;
 padding:15px;
 border-radius:12px;
 text-align:center
}
.card img{
 width:100%;
 height:180px;
 object-fit:cover;
 border-radius:8px
}
.card button{
 width:100%;
 margin-top:10px;
 padding:10px;
 background:#fff;
 color:#000;
 border:none
}

.sold{
 opacity:.5
}
.sold img{
 filter:grayscale(100%)
}
button:disabled{
 background:#555;
 color:#999
}

table{
 width:100%;
 background:#181818;
 border-radius:10px;
 margin-top:20px
}
th,td{
 padding:12px;
 border-bottom:1px solid #333;
 text-align:center
}
th{
 background:#000
}

footer{
 background:#000;
 padding:20px;
 text-align:center
}
footer a{
 color:#fff;
 margin:0 10px;
 text-decoration:none
}
